html {
	overflow: hidden;
}

body {
	margin:0 auto;
	width: 100%;
	height: 100%;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#rendering:after {
	display: none;
	content:
		url("../img/chars/a.png")
		url("../img/chars/b.png")
		url("../img/chars/c.png")
		url("../img/chars/d.png")
		url("../img/chars/e.png")
		url("../img/chars/f.png")
		url("../img/chars/g.png")
		url("../img/chars/h.png")
		url("../img/chars/i.png")
		url("../img/chars/j.png")
		url("../img/chars/k.png")
		url("../img/chars/l.png")
		url("../img/chars/m.png")
		url("../img/chars/n.png")
		url("../img/chars/o.png")
		url("../img/chars/p.png")
		url("../img/chars/q.png")
		url("../img/chars/r.png")
		url("../img/chars/s.png")
		url("../img/chars/t.png")
		url("../img/chars/u.png")
		url("../img/chars/v.png")
		url("../img/chars/w.png")
		url("../img/chars/x.png")
		url("../img/chars/y.png")
		url("../img/chars/z.png")
		url("../img/end/end_bg.png")
		url("../img/end/end_lost.png")
		url("../img/end/end_sun.png")
		url("../img/end/end_won.png")
		url("../img/game/game_bg_sky.png")
		url("../img/game/game_bg_sun.png")
		url("../img/game/game_bg.png")
		url("../img/game/game_bottom_0.png")
		url("../img/game/game_bottom_1.png")
		url("../img/game/game_bottom_2.png")
		url("../img/game/game_top.png")
		url("../img/menu/menu_bg_sun.png")
		url("../img/menu/menu_bg.png")
		url("../img/menu/menu_detail_left.png")
		url("../img/menu/menu_detail_right.png")
		url("../img/menu/menu_fg.png")
		url("../img/menu/menu_logo.png")
		url("../img/menu/menu_start.png")
		url("../img/menu/menu_tutorial.png")
		url("../img/options/options_bg.png")
		url("../img/options/options_continue.png")
		url("../img/options/options_fg.png")
		url("../img/options/options_menu.png")
		url("../img/options/options_music.png")
		url("../img/options/options_replay.png")
		url("../img/tori/acconciatori.png")
		url("../img/tori/addobbatori.png")
		url("../img/tori/amatori.png")
		url("../img/tori/amplificatori.png")
		url("../img/tori/calciatori.png")
		url("../img/tori/cercatori.png")
		url("../img/tori/guidatori.png")
		url("../img/tori/imitatori.png")
		url("../img/tori/indicatori.png")
		url("../img/tori/ipnotizzatori.png")
		url("../img/tori/osservatori.png")
		url("../img/tori/parcheggiatori.png")
		url("../img/tori/puntatori.png")
		url("../img/tori/rapinatori.png")
		url("../img/tori/rimorchiatori.png")
		url("../img/tori/saldatori.png")
		url("../img/tori/seminatori.png")
		url("../img/tori/sequestratori.png")
		url("../img/tori/sollevatori.png")
		url("../img/tori/trasportatori.png")
		url("../img/tori/vincitori.png");
}

.container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: none;
	-webkit-transition: 0.8s;
	/*-webkit-transform: translate3d(0px,0px,0px);*/
}

/********************** GAME **********************/
#game_container {
	background-color: white;
	background-size: 100% 100%;
	background-image: url("../img/game/game_bg_sky.png");
}

#game {
	width: 100%;
	z-index: 1;
	height: 100%;
	box-sizing: border-box;
	background-size: 100% 55%, 100% 100%;
	background-repeat: no-repeat;
	background-position: bottom, top;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	background-image: url("../img/game/game_bg.png"), url("../img/game/game_bg_sun.png");
}

#game_top {
	position: absolute;
	background-size: 100% 100%;
	background-image: url("../img/game/game_top.png");
	width: 100%;
	height: 24%;
	overflow-y: auto;
}

#game_center {
	width: 100%;
	height: 100%;
	display: table;
}

#game_bottom {
	width: 100%;
	height: 39%;
	background-size: 100% 100%;
	margin-top: 5px; /* container_img offset solve */
	position: absolute;
	bottom: 0;
}

#container {
	margin-left: 10%;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}

#container_img {
	background-color: white;
	border-radius: 50%;
	width: 70%;
	border: 5px solid #ff9966;
	margin: 0 auto 14%;
}

#image_selected {
	width: 100%;
	height: auto;
	margin: auto;
	display: block;
}

#container_choose {
	height: 23%;
    position: fixed;
    width: 97%;
    bottom: -1.5%;
}

#choose {
	width: 100%;
}

.letters_row {
	width: 100%;
	height: 27%;
	margin-top: 0.3%;
}

.letter_button {
	float: left;
	width: 10%;
}

.letter_button img {
	width: 95%;
	height: 95%;
}

#row_1 {
	margin-left: 1.5%;
}

#row_2{
	margin-left: 3.5%;
}

#row_3 {
	margin-left: 9%;
}

#game_settings {
	float: left;
	width: 10%;
	margin-left: 10%;
}

#game_settings_img {
	width: 95%;
	height: 95%;
}

#choose_confirm {
	width: 25%;
	margin-left: 2%;
	float: left;
	margin-top: 1%;
}

#button_next {
	margin-left: 5%;
	width: 10%;
}

#advise {
	height: 22%;
    width: 65%;
    margin: 5.8% auto 0;
    background-color: white;
    font-family: "indovinatori_regular";
    color: #1a0d00;
	padding: 0 0 1.4%;
	box-sizing: border-box;
	line-height: 235%;
}

#advise_word {
	margin-left: 5%;
}

.advise_letter {
	float: left;
	margin-left: 0.99%;
	margin-right: 0.99%;
	border-bottom: 4px solid #1a0d00;
	text-align: center;
	height: 100%;
}

.advise_letter:nth-last-child(-n+4) {
    border-bottom: none;
	color: #0b3748;
}

.template {
	display: none;
}

#game_refresh {
	position: fixed;
	top: 3%;
	left: 2%;
	display: none;
}

#game_replay {
	position: fixed;
	top: 7%;
	left: 2%;
	display: none;
}

#game_options {
	position: fixed;
	top: 11%;
	left: 2%;
	display: none;
}

#game_score {
	margin-top: 4.5%;
	text-align: center;
	width: 17.4%;
	padding: 0.3%;
	margin-left: 41%;
	background-color: white;
	border-radius: 10%;
	border: 3px solid #660000;
	font-family: "indovinatori_regular";
	position: relative;
}

#game_score_inc {
	top: 0px;
	right: 0px;
	position: absolute;
	display: none;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

/* PULSING EFFECT */
/*
.selected {
	-webkit-animation: selected 1s linear infinite;
	-moz-animation: selected 1s linear infinite;
	-ms-animation: selected 1s linear infinite;
	animation: selected 1s linear infinite;
}

@keyframes "selected" {
 0% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes selected {
 0% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "selected" {
 0% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "selected" {
 0% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}
*/
/******************** MENU *******************/

#menu_container {
	background-image: url("../img/menu/menu_bg.png");
	background-size: 100% 100%;
	z-index: 2;
}

#menu_sun {
	top: -17%;
	left: -10%;
	position: absolute;
	background-image: url("../img/menu/menu_bg_sun.png");
	background-size: 100% 100%;
	width: 120%;
	height: 120%;
}

#menu_logo {
	position: absolute;
	top: 5%;
	width: 75%;
	left: 12%;
}

#menu {
	background-image: url("../img/menu/menu_fg.png");
	background-size: 100% 100%;
	width: 100%;
	top: 45%;
	height: 55%;
	z-index: 1;
	position: absolute;
}

#menu_start {
	margin-top: 39%;
	width: 50%;
	margin-left: 25%;
}

#menu_tutorial {
	width: 38%;
	margin-left: 31%;
	margin-top: 4%;
}

#menu_detail_left {
	position: absolute;
	left: 0%;
	bottom: 0%;
	width: 28%;
}

#menu_detail_right {
	position: absolute;
	right: 0%;
    bottom: 0%;
	width: 28%;
}

/******************* OPTIONS ****************/

#options_container {
	background-image: url("../img/options/options_bg.png");
	background-size: 100% 100%;
}

#options {
	width: 100%;
	height: 100%;
}

#options_center {
	margin-left: 5%;
	width: 90%;
	height: 35%;
	margin-top: 47%;
	background-image: url("../img/options/options_fg.png");
	background-size: 100% 100%;
}

#options_list {
	width: 72%;
	padding-top: 20%;
	margin-left: 12.5%;
	text-align: center;
}

#options_list img {
	width: 20%;
	height: auto;
	margin: 0 1%;
}

/******************* END *******************/

#end_container {
	background-size: 100% 100%;
	background-image: url("../img/end/end_bg.png");
}

#end_message {
	font-family: "indovinatori_regular";
	color: #ffa321;
	margin: 10% 20%;
	text-align: center;
	width: 60%;
}

#end_message_score {
	font-size: 2em;
}

#end {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

#end_center {
	width: 90%;
	margin-left: 5%;
	height: 100%;
	background-size: 100%;
	margin-top: 5%;
}

#end_replay {
   width: 10%;
}

#end_menu {
   right: 11%;
   width: 10%;
}

#end_list {
   position: absolute;
   margin-top: 62%;
   width: 90%;
   text-align: center;
}

.won {
	background: url("../img/end/end_won.png") no-repeat;
}

.lost {
	background: url("../img/end/end_lost.png") no-repeat;
}


/***************** EFFECTS *****************/

/* Rotating sun bg effect */

@-webkit-keyframes rotating {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(deg);
		-moz-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes rotating {
	  0% {
		  -ms-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -webkit-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  transform: rotate(0deg);
	  }
	  50% {
		  -ms-transform: rotate(5deg);
		  -moz-transform: rotate(5deg);
		  -webkit-transform: rotate(5deg);
		  -o-transform: rotate(5deg);
		  transform: rotate(5deg);
	  }
	  100% {
		  -ms-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -webkit-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  transform: rotate(0deg);
	  }
}

.rotating {
	-webkit-animation: rotating 4s linear infinite;
	-moz-animation: rotating 4s linear infinite;
	-ms-animation: rotating 4s linear infinite;
	-o-animation: rotating 4s linear infinite;
	animation: rotating 4s linear infinite;
}

/* font */

@font-face {
    font-family: 'indovinatori_regular';
    src: url('font/indovinatori-webfont.eot');
    src: url('font/indovinatori-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/indovinatori-webfont.woff2') format('woff2'),
         url('font/indovinatori-webfont.woff') format('woff'),
         url('font/indovinatori-webfont.ttf') format('truetype'),
         url('font/indovinatori-webfont.svg#candy_shop_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
